<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BrockSolutions.Ticker.Core.Models.Projects.ProjectModel" value="BrockSolutions.Ticker.Core.Repositories.InMemoryProjectRepository, BrockSolutions.Ticker.Core"/>
  </appSettings>
  <connectionStrings>
    <add name="ProjectContext" connectionString="Data Source=|DataDirectory|DevelopmentDatabase.sdf" providerName="System.Data.SqlServerCe.4.0"/>
    <add name="TaskContext" connectionString="Data Source=|DataDirectory|DevelopmentDatabase.sdf" providerName="System.Data.SqlServerCe.4.0"/>
  </connectionStrings>
</configuration>